.contact-heading {
    text-align: center;
    font-family: serif;
    font-size: 30px;
    color: rgb(19, 19, 144);
    font-weight: 600;
    padding-bottom: 30px;
}

.right-container {
    background-color: rgb(223, 212, 212);
    height: 70vh;
    width: 30%;
    margin-left: 650px;
    border-radius: 3px;
}

.input {
    width: 70%;
    padding: 10px;
    margin: 15px;
}

.languages {
    font-size: 18px;
    margin-left: 12px;
}

.gender {
    margin-left: 12px;
    font-size: 18px;
    margin-bottom: 12px;
}

.country {
    margin-left: 12px;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.address {
    margin-left: 12px;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.button {
    background-color: rgb(0, 255, 140);
    border: 1px solid;
    padding: 10px;
    width: 20%;
    color: rgb(3, 19, 11);
    margin-left: 200px;
}